{% extends 'base.html' %}

{% block back %}

{% endblock %}

{% block container %}
    <h1 class="text-2xl font-semibold mb-4">员工信息</h1>
    <!-- 添加模态框 -->
    <div id="editModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white p-4 rounded-md">
            <!-- 表单内容 -->
            <form id="editForm" action="/gongzi/add_yuangong" enctype="multipart/form-data" method="post">
                <input type="hidden" name="id">
                <div class="mb-4">
                    <label for="工号"
                           class="ml-3 text-sm font-bold text-gray-700 tracking-wide">工号:</label>
                    <input id="gonghao" type="text" name="gonghao" required
                           class="mb-2 text-base border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
                           placeholder="工号">
                </div>
                <div class="mb-4">
                    <label for="姓名"
                           class="ml-3 text-sm font-bold text-gray-700 tracking-wide">姓名:</label>
                    <input id="name" type="text" name="name" required
                           class="mb-2 text-base border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
                           placeholder="姓名">
                </div>

                <div class="mb-4">
                    <label for="部门名称"
                           class="ml-3 text-sm font-bold text-gray-700 tracking-wide">部门名称:</label>
                    <input id="bumen_name" type="text" name="bumen_name" required
                           class="mb-2 text-base border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
                           placeholder="部门名称">
                </div>
                 <div class="mb-4">
                    <label for="底薪"
                           class="ml-3 text-sm font-bold text-gray-700 tracking-wide">底薪:</label>
                    <input id="dixin" type="text" name="dixin" required
                           class="mb-2 text-base border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
                           placeholder="底薪">
                </div>

                <!-- 省略其他表单字段 -->
                <button type="submit"
                        class="px-4 py-2 bg-blue-500 text-white rounded-md cursor-pointer hover:bg-blue-600 ml-4">保存
                </button>
                <button type="button" id="closeModal"
                        class="mt-2 px-4 py-2 bg-red-500 text-white rounded-md cursor-pointer hover:bg-red-600">
                    关闭
                </button>
            </form>
            <!-- 关闭按钮 -->

        </div>
    </div>

    <div id="settingModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white p-4 rounded-md">
            <!-- 表单内容 -->
            <form id="editForm" action="/gongzi/set_yuangong" enctype="multipart/form-data" method="post">
                <!-- 省略其他表单字段 -->
                <button type="submit"
                        class="px-4 py-2 bg-blue-500 text-white rounded-md cursor-pointer hover:bg-blue-600 ml-4">保存修改
                </button>
                <button type="button" id="closeSettingModal"
                        class="mt-2 px-4 py-2 bg-red-500 text-white rounded-md cursor-pointer hover:bg-red-600">
                    关闭
                </button>
            </form>
            <!-- 关闭按钮 -->

        </div>
    </div>
<!--    <div id="editModal" class="hidden">-->
<!--        &lt;!&ndash; 模态框内容 &ndash;&gt;-->
<!--        <form id="editForm" action="/set_bumen" method="POST">-->
<!--            <input type="hidden" name="id" value="">-->
<!--            <input type="text" name="bumen_name" value="">-->
<!--            <button type="submit">保存修改</button>-->
<!--            <button id="closeModal">关闭</button>-->
<!--        </form>-->
<!--    </div>-->
    <div id="excelModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center">
        <div class="bg-white p-4 rounded-md">
            <!-- 表单内容 -->
            <form id="excelForm" action="/gongzi/yuangong_import" enctype="multipart/form-data" method="post">

                <div class="mb-4">
                    <label for="file" class="ml-3 text-sm font-bold text-gray-700 tracking-wide">excel文件:</label>
                    <input id="file" type="file" name="file" accept=".xls,.xlsx"
                           class="mb-2 text-base border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500">
                </div>
                <!-- 省略其他表单字段 -->
                <button type="submit"
                        class="px-4 py-2 bg-blue-500 text-white rounded-md cursor-pointer hover:bg-blue-600 ml-4">保存修改
                </button>
                <button type="button" id="closeExcelModal"
                        class="mt-2 px-4 py-2 bg-red-500 text-white rounded-md cursor-pointer hover:bg-red-600">
                    关闭
                </button>
            </form>
            <!-- 关闭按钮 -->

        </div>
    </div>

    <div class="bg-gray-200 flex flex-col  gap-4 p-14">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row gap-4">
                <button class="px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white rounded-md cursor-pointer font-bold"
                        id="add-button" onclick="showModal('', '','','','','','','','','')">
                    新增记录
                </button>
                <button class="px-4 py-2 bg-green-500 hover:bg-green-700 text-white rounded-md cursor-pointer font-bold"
                        id="add-button" onclick="showExcelModal()">
                    Excel导入
                </button>
            </div>
        </div>
        <div id="settingModal" class="">
            <div class="flex flex-col justify-center bg-white p-4 mt-4">
                <div>
                    <table class="table w-full mt-4" id="table-to-export">
                        <thead>
                        <tr>
<!--                            <th>ID</th>-->
                            <th>工号</th>
                            <th>姓名</th>
                            <th>部门</th>
                            <th>底薪</th>
                            <th>创建时间</th>
                             <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% if context.query_list %}
                            {% for row, flag in context.query_list %}
                                <tr class=" {% if flag %} bg-red-300 hover:bg-red-500 {% else %} bg-gray-100 hover:bg-gray-200 {% endif %}"
                                    style="text-align:center;">
<!--                                     <td>{{ row.id }}</td>-->
                                    <td>{{ row.gonghao }}</td>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.bumen_name }}</td>
                                    <td>{{ row.dixin }}</td>
                                    <td>{{ row.create_time }}</td>

                                    <td>
                                        <a class="text-blue-500 hover:cursor-pointer" onclick="showModal('{{row.id }}','{{ row.gonghao }}', '{{ row.name }}', '{{ row.bumen_name }}', '{{ row.dixin }}')">修改</a>

                                        <a class="text-red-500 hover:cursor-pointer  hover:text-red-300"
                                           href="/gongzi/del_yuangong?id={{ row.id }}">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="/static/js/flexDate.min.js"></script>
    <script src="/static/js/xlsx.full.min.js"></script>

    <script>

        // 获取编辑链接和模态框
        const editLinks = document.querySelectorAll('.edit-link');
        const editModal = document.getElementById('editModal');
        const settingModal = document.getElementById('settingModal');
        const excelModal = document.getElementById('excelModal');
        const editForm = document.getElementById('editForm');
        const closeModalButton = document.getElementById('closeModal');
        const closeSettingModal = document.getElementById('closeSettingModal');
        const closeExcelModal = document.getElementById('closeExcelModal');

        // 展示模态框
        const showModal = (id,gonghao,name, bumen_name,dixin) => {
            // 赋值表单
            editForm.id.value = id;
            editForm.gonghao.value = gonghao;
            editForm.name.value = name;
            editForm.bumen_name.value = bumen_name;
            editForm.dixin.value = dixin;
            editModal.classList.remove('hidden');
        };


        // 关闭模态框事件
        closeModalButton.addEventListener('click', () => {
            editModal.classList.add('hidden');
        });

        const showSettingModal = () => {
            settingModal.classList.remove('hidden');
        };


        // 关闭模态框事件
        closeSettingModal.addEventListener('click', () => {
            settingModal.classList.add('hidden');
        });


        const showExcelModal = () => {
            excelModal.classList.remove('hidden');
        };


        // 关闭模态框事件
        closeExcelModal.addEventListener('click', () => {
            excelModal.classList.add('hidden');
        });

    </script>
<script>
// JavaScript 用于处理模态框的显示和隐藏
document.getElementById('openModal').addEventListener('click', function() {
    document.getElementById('editModal').classList.remove('hidden');
});

document.getElementById('closeModal').addEventListener('click', function() {
    document.getElementById('editModal').classList.add('hidden');
});

// 处理表单提交
document.getElementById('editForm').addEventListener('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    // 使用 AJAX 或 Fetch API 发送数据到后端
    fetch('/add_yuangong', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        // 关闭模态框
        document.getElementById('editModal').classList.add('hidden');
        // 可选：清空表单或显示成功消息
    })
    .catch((error) => {
        console.error('Error:', error);
    });
});
</script>
{% endblock %}
